<v-container v-if="userMain !== null">
    <h2>Phản hồi của bạn (<span v-text="replyList.count"></span>)</h2>
    <p v-if="replyList.count == 0">Bạn chưa có lịch sử phản hồi nào</p>
    <v-timeline align-top dense>
        <v-timeline-item v-for="(item, i) in replyList.reply" :color="i % 2 == 0 ? 'pink' : 'teal lighten-3'" small>
            <v-row class="pt-1">
                <v-col cols="3">
                    <strong v-text="item.dateEdit">21-3-2021 10:43</strong>
                </v-col>
                <v-col>
                    <strong>Bài blog: <a :href="replyList.linkDetails + item.idBlog + '/' + item.titleBlog"><span
                                v-text="item.titleBlog"></span></a></strong>
                    <div style="color: #B71C1C; font-size: 18px;">
                        <div style="color: black">Nội dung cần phản hồi:</div>
                        <p v-text="item.contentComment"></p>
                    </div>
                    <div style="color: #B71C1C; font-size: 18px;">
                        <div style="color: black">Nội dung đã phản hồi:</div>
                        <p v-text="item.content"></p>
                    </div>
                    <div class="text-caption">
                        Chi tiết: Bạn đã phản hồi bài viết <b>[<span v-text="item.titleBlog"></span>]</b> của
                        <b v-text="item.author"></b> lúc <span v-text="item.dateEdit"></span>
                    </div>
                </v-col>
            </v-row>
        </v-timeline-item>
    </v-timeline>
</v-container>
<v-container v-if="userMain === null">
    <h2>Phản hồi của bạnn</h2>
    <p>Vui lòng đăng nhập để có thể xem lịch sử phản hồi</p>
</v-container>
<script src="/script/blog/index_reply.js"></script>