<v-container v-if="userMain !== null">
    <p>Lịch sử blog đã xem</p>
    <v-card outlined class="mt-1" v-if="blogList.count == 0">
        <v-img max-width="" max-height="500" src="/content/images/notdata.png"></v-img>
    </v-card>
    <v-card outlined link v-for="(item, i) in blogList.blog" :key="i" class="mt-1">
        <v-container>
            <v-row>
                <v-col sm="9">
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title>
                                <v-avatar size="40">
                                    <img :src="item.avatar" alt="John">
                                </v-avatar>
                                <span style="font-size: 15px">Tác giả: <span v-text="item.author"></span></span>
                            </v-list-item-title>
                            <v-row align="center" class="mx-0 mt-1">
                                <v-rating :value="4.5" color="amber" dense half-increments readonly size="14">
                                </v-rating>
                                <div class="grey--text ms-4">
                                    Lần xem gần nhất:
                                    <span v-text="item.dateEdit"></span>
                                </div>
                            </v-row>
                        </v-list-item-content>
                    </v-list-item>
                    <v-card-title style="font-size: 14px">
                        <span v-text="item.titleProduct"></span>
                    </v-card-title>
                    <v-card-text>
                        <i style="color: #B71C1C" v-text="item.category"></i>
                        <div v-text="item.describe"></div>

                        <div class="my-4 text-subtitle-1">
                            <v-chip :href="blogList.linkDetails + item.idBlog + '/' + item.titleProduct" small
                                color="#004D40" dark>
                                <i class="fa fa-eye"></i> &nbsp;
                                Xem bài viết
                            </v-chip>
                        </div>
                    </v-card-text>
                </v-col>
                <v-col cols="12" sm="3">
                    <v-avatar class="ma-3" size="125" tile>
                        <v-img width="100%" :src="item.image">
                        </v-img>
                    </v-avatar>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
</v-container>
<v-container v-if="userMain === null">
    <h2>Lịch sử xem blog</h2>
    <p>Vui lòng đăng nhập để có thể xem lịch sử xem blog</p>
</v-container>
<script src="/script/blog/index_history_view.js"></script>